{% extends "layout.html" %}
{% block content %}
<style>
.full {
   background: url('../img/drillrig.jpg') no-repeat center center fixed;
}
</style>
<div id='drillheatmap' class="text-center">
    <h1 class="text-center">Well Failures Heatmap</h1>
    <span id="hmap_spinner"><img src='../img/spinner.gif' class="customer-spinner"></span>
    <div class="panel-body">
        <script type="text/javascript">
            $(document).ready(
               function(){
                   $.getJSON("/_drillrig_hmap", function (data) { 
                       drillHeatmap(data.hmap);
                   });
                   /* Spinner */
                   d3.select("#modelcoefs").html("<h1 class=\"text-center\">Model Coefficients</h1>"+"<br>"+  
                   "<span id='modelcoefs_spinner'><img src='../img/spinner.gif' class=\"customer-spinner\"></span>"
                   );
                   $.getJSON("/_mdl_coefs", function (data) { 
                       drawModelCoefficients(data.mdlcoefs);
                   });                   
               }
            );
        </script>
    </div>
</div>
<div id='heatmapdrilldown' class="text-center">
</div>
<div id='modelcoefs' class="text-center">
</div>
<div id='tseries' class="text-center">
</div>
{% endblock %}
