{% extends "layout.html" %}
{% block content %}
<style>
.full {
   background: url('../img/drillrig.jpg') no-repeat center center fixed;
}
</style>
<div id='drillheatmap' class="text-center">
    <h1 class="text-center">Well Failures Heatmap</h1>
    <span id="hmap_spinner"><img src='../img/spinner.gif' class="customer-spinner"></span>
    <div class="panel-body">
        <script type="text/javascript">
            $(document).ready(
               function(){
                   $.getJSON("/_drillrig_hmap", function (data) { 
                       drillHeatmap(data.hmap);
                   });
               }
            );
        </script>
    </div>
</div>
{% endblock %}
